.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #FF4820;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    
    &:hover {
      background-color: transparent;
      color: #FF4820;
      border: 1px solid #FF4820;
    }
    &.google-sign-in{
      background-color: #4285f4;
      color: white;
      // margin-left: 10px;
      &:hover{
        background-color: transparent;
        color: #357ae8;
        border: 1px solid #4285f4;
      }
    }
  }
  