@mixin para {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

@mixin btn {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.gpt3__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem 6rem;

    &-links{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &_logo{
            margin-right: 2rem;
        }

        img{
            width: 62.56px;
            height: 16.02px;
        }

        &_container {
            display: flex;
            flex-direction: row;
            p{@include para}
        }
    }

    &-sign {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p{@include para}
        
        button{
            @include btn;
        }
    }

    &-menu_container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        
        text-align: end;
        background: var(--color-footer);
        padding: 2rem;
        position: absolute;
        right: 0;
        top: 40px;
        margin-top: 1rem;
        min-width: 210px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
        p {
            @include para;
            margin: 1rem 0;
        }
        &-links-sign {
            display: none;
        }
        button{
            @include btn;
        }
    }

    &-menu {
        margin-left: 1rem;
    
        display: none;
        position: relative;

        svg {
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1050px) {
        &-links_container {
            display: none;
        }
    
        &-menu {
            display: flex;
        }
    }
    
    @media screen and (max-width: 700px) {
        & {
            padding: 2rem 4rem;
        }
    }
    
    @media screen and (max-width: 550px) {
        & {
            padding: 2rem;
            &-sign {
                display: none;
            }
        
            &-menu_container {
                top: 20px;
                &-links-sign {
                    display: block;
                }
            }
        }
    }
}