.gpt3__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
    }
    
    div {
        flex: 1;
        max-width: 150px;
        min-width: 120px;
        margin: 1rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#react{
    filter:invert(50%);
}